*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Poppins', 'Roboto', Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
        /* Adjust font size for mobile screens */
    }
}

@media (max-width: 480px) {
    html {
        font-size: 45%;
        /* Adjust font size for mobile screens */
    }
}